@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFBFF;
  --foreground: #122B40;
  
  --muted: #EDEFF7;
  --muted-foreground: #6E7180;

  --popover: #FFFFFF;
  --popover-foreground: #122B40;

  --card: #FFFFFF;
  --card-foreground: #122B40;

  --border: #D3D6E0;
  --input: #D3D6E0;

  --primary: #F05F2C;
  --primary-foreground: #FFFFFF;

  --secondary: #71A0BF;
  --secondary-foreground: #FFFFFF;

  --accent: #122B40;
  --accent-foreground: #FFFFFF;

  --destructive: #FF3B3B;
  --destructive-foreground: #FFFFFF;

  --ring: #F05F2C;

  --radius: 0.5rem;
}

.dark {
  --background: #1E1E24;
  --foreground: #FAFBFF;

  --muted: #40424D;
  --muted-foreground: #BCBFCC;

  --popover: #1E1E24;
  --popover-foreground: #FAFBFF;

  --card: #1E1E24;
  --card-foreground: #FAFBFF;

  --border: #40424D;
  --input: #40424D;

  --primary: #F05F2C;
  --primary-foreground: #FAFBFF;

  --secondary: #71A0BF;
  --secondary-foreground: #FAFBFF;

  --accent: #FAFBFF;
  --accent-foreground: #122B40;

  --destructive: #9DA2B3;
  --destructive-foreground: #FAFBFF;

  --ring: #D3D6E0;

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--muted);
}

::-webkit-scrollbar-thumb {
  background: rgba(157, 162, 179, 0.3); /* muted-foreground */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 162, 179, 0.5); /* muted-foreground */
}
